March Madness ML Project

In [1]:
# lib imports copied from lab 4
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import patsy
# Load the LinearRegression class from scikit-learn's linear_model module
# Also load the PolynomialFeatures transformer and OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Load the stats module from scipy so we can code the functions to compute model statistics
from scipy import stats

# Load StatsModels API
# Note that if we wish to use R-style formulas, then we would load statsmodels.formula.api instead
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [14]:
RSDR = "mens-march-mania-2022\MDataFiles_Stage1\MRegularSeasonDetailedResults.csv"
Teams = "mens-march-mania-2022\MDataFiles_Stage1\MTeams.csv"
# For the fisrt iteration lets omit the seeds
Seeds = "mens-march-mania-2022\MDataFiles_Stage1\MNCAATourneySeeds.csv"
SeedRoundSlots = "mens-march-mania-2022\MDataFiles_Stage1\MNCAATourneySeedRoundSlots.csv"

ConferenceTourney = "mens-march-mania-2022\MDataFiles_Stage1\MConferenceTourneyGames.csv"
MasseyOrd = "mens-march-mania-2022\MDataFiles_Stage1\MMasseyOrdinals.csv"
Coaches = "mens-march-mania-2022\MDataFiles_Stage1\MTeamCoaches.csv"
TeamConferences = "mens-march-mania-2022\MDataFiles_Stage1\MTeamConferences.csv"



# All databases that could potentially have usable data
RSDR = pd.read_csv(RSDR, na_values = ["?"]).dropna()
Teams = pd.read_csv(Teams, na_values = ["?"]).dropna()
Seeds = pd.read_csv(Seeds, na_values = ["?"]).dropna()
SeedRoundSlots = pd.read_csv(SeedRoundSlots, na_values = ["?"]).dropna()

ConferenceTourney = pd.read_csv(ConferenceTourney, na_values = ["?"]).dropna()
MasseyOrd = pd.read_csv(MasseyOrd, na_values = ["?"]).dropna()
Coaches = pd.read_csv(Coaches, na_values = ["?"]).dropna()





# RSDR.info()
# RSDR.head()
# Teams.info()
# Teams.head()
# ConferenceTourney.info()
# ConferenceTourney.head()
# MasseyOrd.info()
# MasseyOrd.head(20)
# Coaches.info()
# Coaches.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12299 entries, 0 to 12298
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      12299 non-null  int64
 1   TeamID      12299 non-null  int64
 2   ConfAbbrev  12299 non-null  object
dtypes: int64(2), object(1)
memory usage: 384.3+ KB

    Season  TeamID ConfAbbrev
0     1985    1102        wac
1     1985    1103        ovc
2     1985    1104        sec
3     1985    1106       swac
4     1985    1108       swac
5     1985    1109        ind
6     1985    1110      ecacs
7     1985    1111   southern
8     1985    1112    pac_ten
9     1985    1113    pac_ten
10    1985    1114      a_sun
11    1985    1116        swc
12    1985    1117  southland
13    1985    1119       maac
14    1985    1120        sec
15    1985    1121        ind
16    1985    1122        ovc
17    1985    1123        mac
18    1985    1124        swc
19    1985    1126       meac