March Madness ML Project

In [1]:
# lib imports copied from lab 4
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import patsy
# Load the LinearRegression class from scikit-learn's linear_model module
# Also load the PolynomialFeatures transformer and OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# Load the stats module from scipy so we can code the functions to compute model statistics
from scipy import stats

# Load StatsModels API
# Note that if we wish to use R-style formulas, then we would load statsmodels.formula.api instead
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [24]:
RSDR = "mens-march-mania-2022\MDataFiles_Stage1\MRegularSeasonDetailedResults.csv"
Teams = "mens-march-mania-2022\MDataFiles_Stage1\MTeams.csv"
Seasons = "mens-march-mania-2022\MDataFiles_Stage1\MSeasons.csv"
# For the fisrt iteration lets omit the seeds
Seeds = "mens-march-mania-2022\MDataFiles_Stage1\MNCAATourneySeeds.csv"
SeedRoundSlots = "mens-march-mania-2022\MDataFiles_Stage1\MNCAATourneySeedRoundSlots.csv"


RSDR = pd.read_csv(RSDR, na_values = ["?"]).dropna()
Teams = pd.read_csv(Teams, na_values = ["?"]).dropna()
Seeds = pd.read_csv(Seeds, na_values = ["?"]).dropna()
SeedRoundSlots = pd.read_csv(SeedRoundSlots, na_values = ["?"]).dropna()

# RSDR.info()
# RSDR.head()
# Teams.info()
# Teams.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  2354 non-null   int64
 1   Seed    2354 non-null   object
 2   TeamID  2354 non-null   int64
dtypes: int64(2), object(1)
memory usage: 73.6+ KB

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374